In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv('placement.csv')
df.head()
df

    Unnamed: 0  cgpa     iq  placement
0            0   6.8  123.0          1
1            1   5.9  106.0          0
2            2   5.3  121.0          0
3            3   7.4  132.0          1
4            4   5.8  142.0          0
..         ...   ...    ...        ...
95          95   4.3  200.0          0
96          96   4.4   42.0          0
97          97   6.7  182.0          1
98          98   6.3  103.0          1
99          99   6.2  113.0          1

[100 rows x 4 columns]

// steps

// 0. preprocess + eda + feature analysis 
// 1. extract input and output columns 
// 2. scale the values 
// 3. train test split 
// 4. train the model 
// 5. evaluate the model / model selection 
// 6. deploy the model