**decision trees**
- basically it is a giant structure of nestted if-else condition
- you can divide/categorize your data into subtrees - similar to a tree structure -> explain root, leaf nodes, subtree

> akinator - uses decision trees to guess your predicted object/charector/animal

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
# loading data from url
csv_url = "https://storage.googleapis.com/kagglesdsdata/datasets/34879/46976/500_Person_Gender_Height_Weight_Index.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20250912%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20250912T085521Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=09458c4348a2ee2ee9847a233d7db5fee7aa4f623deedd7d0b651aa5641668dc33bb69a81b0765e727e9ef0c4fb2e705307f0f6dcc74d38478f9a4c8112f7263f98b843554f1ef74fcec5d06a170b250bc5029dc0bd03536610d3bf08fc73175916ea5fc105e9f3f27b0e044ba9b803bb9ac7064af4a31c11e996863ca21bef56aaf4944ad4394d81b16e9e8170627675aeffe5d485900c50c9016e2ee56147b00d60e4b0de1e33240fe393ce5f68a8953312ef819d94fead4dce45b19e6f2240d3aa013efa858f6160b83ef1b262d1092de13540e0fb9415f0d4f3c31f0a89ff191885a013b09beb0c36ce61e3dd186835c7e3c8443304b7ad400616724d435" 
df = pd.read_csv(csv_url)
df

     Gender  Height  Weight  Index
0      Male     174      96      4
1      Male     189      87      2
2    Female     185     110      4
3    Female     195     104      3
4      Male     149      61      3
..      ...     ...     ...    ...
495  Female     150     153      5
496  Female     184     121      4
497  Female     141     136      5
498    Male     150      95      5
499    Male     173     131      5

[500 rows x 4 columns]